@use 'sass:math';

:root {
  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-Light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-SemiBold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('@/fonts/CerebriSansPro-Heavy.ttf') format('truetype');
    font-weight: 800;
  }

  --color-bg: #f3f4f6;
  --color-accent: #14cf93;
  --color-green: #64ffda;
  --color-blue: #38bdf8;
  --color-red: #f43f5e;
  --color-yellow: #facc15;
  --color-grad-1: var(--color-yellow);
  --color-grad-2: var(--color-red);
  --color-grad-3: var(--color-blue);
  --color-grad-4: var(--color-red);
  --color-grad-5: var(--color-accent);
  --color-grad-6: var(--color-yellow);
  --color-light: #fff;
  --color-text: #1e293b;
  --color-dark: #020617;
  --color-grey-1: #f3f4f6;
  --color-grey-2: #4c5c68;
  --color-grey-3: #1e293b;

  // FONTS
  --font-primary: 'CerebriSansPro', 'Inter', sans-serif;
  --font-size: 1.6rem; // 16px

  // Size
  --max-width: 128rem; // 1280px
}

// BREAK POINTS (ems)
$xxl: math.div(1536, 16) * 1em;
$xl: math.div(1280, 16) * 1em;
$lg: math.div(1024, 16) * 1em;
$md: math.div(768, 16) * 1em;
$sm: math.div(640, 16) * 1em;
$xs: math.div(330, 16) * 1em;
