.loader-bouncing {
  &__line {
    width: 120px;
    border-bottom: 5px solid var(--color-text);
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  &__ball {
    background-color: var(--color-text);
    width: 15px;
    height: 15px;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation: bounce 0.8s linear infinite alternate;
        animation-delay: ($i - 1) * 0.5s;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-65px);
  }
  100% {
    transform: translateY(0);
  }
}
