.loader-line {
  width: 70%;
  min-width: 12rem;
  height: 3px;
  background-color: var(--color-text);
  animation: stretch 2s linear infinite alternate;
}

@keyframes stretch {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  45% {
    transform: scaleX(1);
    transform-origin: left;
  }
  55% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
