.loader-spinner {
  height: 10rem;
  width: 10rem;
  border-right: 4px solid var(--color-text);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
