// .square {
//   width: 200px;
//   height: 200px;
//   background-color: var(--color-grad-3);
//   border-radius: 8px;
// }

.wipe-background {
  background-color: var(--color-grad-3);
}

.wipe-animation {
  animation-name: loader-wipe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loader-wipe {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
